.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: 'Russo One', sans-serif;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.enter {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, 0.01);
  background-image: url(https://images-assets.nasa.gov/image/PIA12348/PIA12348~medium.jpg);
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;

}

@keyframes animate {
0%,
100% {
  background-position: left top;
}    
25% {
  background-position: right bottom;
}
50%{
  background-position: left bottom;
}
75% {
  background-position: right top;
}
}